.about {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    text-align: center;
    background: var(--second-bg-color);
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.about-image img{
    width: 20rem;
    border-radius: 50%;
    border: 5px solid var(--main-color);
}

.about-image img:hover{
    opacity: .8;
    box-shadow: 2px 1px 20px #888888;
    transition: .5s;
}

.about-content h3 {
    font-size: 2rem;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
}

.about-content p {
    font-size: 1.5rem;
}