.header {
    padding: 1rem 2rem;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding-left: 2rem;
}

.navbar .navbar-item {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    margin-left: 40px;
}

.navbar .navbar-item:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.resume {
    font-size: 15px;
    font-weight: 400;
    background-color: rgb(202, 202, 24);
    padding: 8px 15px;
    border-radius: 18px 18px 18px 18px;
}

.resume-link {
    color: #fff;
    text-decoration: none;
}