.header {
    position: fixed;
    padding: 2rem 9%;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    background: var(--bg-color);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar .navbar-item {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: 0.3s;
}

.navbar .navbar-item:hover {
    color: var(--main-color);
}

.resume .resume-link {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 18px 18px 18px 18px;
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--text-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.resume .resume-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.resume .resume-link:hover::before {
    width: 100%;
}

.resume .resume-link:hover {
    color: var(--bg-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}