.project {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .project .project-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
} */

/* .project .project-column {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.project-row .project-column {
    flex: 1 1 40rem;
}
*/

.project-column .project-box {
    border-left: 0.2rem solid var(--main-color);
}

.project-box .project-content {
    position: relative;
    padding-left: 2rem;
}

.project-box .project-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.project-content .content {
    position: relative;
    padding: 1.5rem;
    border: 0.2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
}

.project-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.project-content .content:hover::before {
    width: 100%;
}

.project-content .content i {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-right: 0.5rem;
}

.project-content .content h3 {
    font-size: 2rem;
    color: var(--main-color);
    padding-bottom: 0.5rem;
}


.project-content .content p {
    font-size: 1.6rem;
    padding-bottom: 0.5rem;
}

